<section id="tweets">
  <ul>
    <% load_tweets.each do |tweet| %>
    	<% tweet.hashtags.each do |t| %>
      		<li><%= link_to t.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
      	<% end %>
      <% end %>
  </ul>

</section>