<!-- NAVBAR -->
<nav>
  <div class="nav-wrapper red accent-4">

    <!-- TRENDS SIDEBAR -->
    <ul id="slide-out" class="side-nav">
      <li class="topictext">TOPICS</li>
      <% @trends.each do |tweet| %>
      <li class="trendsclick"><a href="#!"><%= tweet.hashtags %></a></li>
      <% end %>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
      <i class="mdi-navigation-menu"></i>
    </a>


    <!-- LOGO -->
    <div class="brand-logo center" id="swaylogo">Sway News</div>

    <!-- SIGNUP + SIGNIN -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
      <li>Welcome <strong><%= current_user.name%></strong></li>
      <li><%= link_to 'Signout', signout_path %></li>
      <%else%>

      <!-- SIGNUP MODAL BUTTON -->
      <a class="waves-effect waves-light btn modal-trigger blue" href="#Signup" id="navbuttons">Sign Up</a>

      <!-- SIGNIN MODAL BUTTON-->
      <a class="waves-effect waves-light btn modal-trigger blue" href="#Signin" id="navbuttons2">Sign In</a>

      <%end%>
    </ul>

  </div>
</nav>

<!-- PAGE LAYOUT -->
<div class="row">
  <div class="col s6 m6 l6 ">
    <div class="videoframe">
    <h2 id="newslogo">CNN</h2>
      <div class="embed-container-l" id="results"></div>
    </div>
  </div>
  <div class="col s6 m6 l6">
    <div class="videoframe">
    <h2 id="newslogo">FOX</h2>
      <div class="embed-container-l" id="foxresults"></div>
    </div>
  </div>
</div>
</div>
</div>
