@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#navbuttons {
}

#navbuttons2 {
  margin-right: 5px !important;
}

#navbuttonsfb {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

#results, #foxresults {
  margin-top: 60px;
  text-align: center;
}

#swaylogo {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

#swaylogofoot {
  font-family: 'Permanent Marker', cursive;
}